<h1 class="text-center">Results</h1><br>

<div class="alert alert-info">
  <p id="result">
    <% if !@fail %>
      <strong>Congratulations!</strong> <%= @word %> is a valid English word!
    <% elsif @word == '' %>
      You need to enter a word!
    <% elsif @fail == 'grid_fail' %>
      Sorry, but <strong><%= @word %></strong> cannot be built out of <%= @grid.join(', ') %>.
    <% elsif @fail == 'english_fail' %>
      Sorry, but <strong><%= @word %></strong> does not seem to be a valid English word.
    <% end %>
  </p>

  <div class="link-box"><%= link_to 'Play again', new_path %></div>
</div>
